@{
    ViewData["Title"] = "Promoções | Agência de viagem Súh FullStack";
}

<head>
    <link rel="stylesheet" href="~/css/promocoes.css">
</head>

<header>
    <nav class="menu">
        <div>
            <a asp-action="Index"><img src="~/img/Logo.png" alt="" class="logo"></a>
        </div>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" asp-action="Index">Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Destino">Destino</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Promocoes">Promoções</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Contato">Contato</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Entrar">Entrar</a>
            </li>
        </ul>
    </nav>
</header>

<section class="titulo">
    <h2>Aqui você encontra alguns de nossos pacotes de promoções!</h2>
</section>

<section>
    <div class="card">
        <div class="card-imagem"></div>
        <div class="card-texto">
            <span class="nome"> Pacotes </span>
            <h2>a partir de 00$</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
        </div>
        <a href="#" class="btn">ESCOLHER ESSE</a>
    </div>
    <div class="card">
        <div class="card-imagem"></div>
        <div class="card-texto">
            <span class="nome"> Pacotes</span>
            <h2>a partir de 00$</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
        </div>
        <a href="#" class="btn">ESCOLHER ESSE</a>
    </div>
    <div class="card">
        <div class="card-imagem"></div>
        <div class="card-texto">
            <span class="nome"> Pacotes</span>
            <h2>a partir de 00$</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
        </div>
        <a href="#" class="btn">ESCOLHER ESSE</a>
    </div>
    <div class="card">
        <div class="card-imagem"></div>
        <div class="card-texto">
            <span class="nome"> Pacotes</span>
            <h2>a partir de 00$</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
        </div>
        <a href="#" class="btn">ESCOLHER ESSE</a>
    </div>
    <div class="card">
        <div class="card-imagem"></div>
        <div class="card-texto">
            <span class="nome"> Pacotes</span>
            <h2>a partir de 00$</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
        </div>
        <a href="#" class="btn">ESCOLHER ESSE</a>
    </div>
    <div class="card">
        <div class="card-imagem"></div>
        <div class="card-texto">
            <span class="nome"> Pacotes</span>
            <h2>a partir de 00$</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
        </div>
        <a href="#" class="btn">VESCOLHER ESSE</a>
    </div>
    <div class="card">
        <div class="card-imagem"></div>
        <div class="card-texto">
            <span class="nome"> Pacotes</span>
            <h2>a partir de 00$</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
        </div>
        <a href="#" class="btn">ESCOLHER ESSE</a>
    </div>
    <div class="card">
        <div class="card-imagem"></div>
        <div class="card-texto">
            <span class="nome"> Pacotes</span>
            <h2>a partir de 00$</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
        </div>
        <a href="#" class="btn">ESCOLHER ESSE</a>
    </div>
</section>

<section class="titulo">
    <h2>Formas de pagamento</h2>
</section>

<hr>

<section class="pag">
    <img src="/img/Payment Information-bro.png">
    <img src="/img/payment-mobile.png" alt="">
</section>

<footer>
    Agencia de Viagens Súh FullStack |
    © 2021 - Todos os direitos reservados.
    <div class="midias">
        <a href="https://pt-br.facebook.com/"><i class="bi bi-facebook"></i> </a>
        <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
        <a href="https://twitter.com/"><i class="bi bi-twitter"></i></a>
        <a href="https://br.linkedin.com/"><i class="bi bi-linkedin"></i></a>
    </div>
</footer>
